body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 450;
  background: #010C15;
}

*:focus {
  outline: 2px solid #2196F3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

button,
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}