body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 450;
  background: #010C15;
}

*:focus {
  outline: 2px solid #2196F3;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

button,
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
  border-left: 1px solid #1E2D3D;
}

::-webkit-scrollbar-thumb {
  width: 18.5px;
  max-height: 7px;
  background-color: #607B96;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b6e80;
}